.accounts-pages-Account .address {
    display: block;
    border-color: var(--border-color);
    border-radius: var(--surface-rounder-sm);
    border-style: var(--border-style);
    border-width: var(--border-width);
    padding: var(--spacing-scale-2x);
    padding-right: 0.5em;
    margin-top: var(--spacing-scale-half);
    margin-bottom: var(--spacing-scale-half);
}

.accounts-pages-Account .address .text {
    color: var(--color-light);
}

.accounts-pages-Account .change-account-picture,
.accounts-pages-Account picture {
    cursor: pointer;
}

.accounts-pages-Account .picture {
    display: flex;
    align-items: normal;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
}

.confirm-data-review-checkbox label {
    font-size: var(--font-size-scale-up-01);
}

.visao-servico .header .titulo {
    font-size: 2.6rem;
    font-weight: 600;
    color: #0c326f;
    line-height: 40px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.servico-content {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

.visao-servico .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0 0 20px 0;
    align-items: center;
    padding-top: 1rem;
}

#content .visao-servico .btn-solicitar.mobile {
    display: none;
    margin: 10px auto;
    margin-top: 25px;
}

#content .visao-servico .btn-solicitar {
    background-color: #268744;
    height: 52px;
    line-height: 52px;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 51px;
    text-align: center;
    color: #fff !important;
    border: 15px solid #ededed;
    margin-left: 30px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#content .visao-servico .btn-solicitar.mobile {
    display: none;
    margin: 10px auto;
    margin-top: 25px;
}

#content .visao-servico .btn-solicitar {
    background-color: #268744;
    height: 52px;
    line-height: 52px;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 51px;
    text-align: center;
    color: #fff !important;
    border: 15px solid #ededed;
    margin-left: 30px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#content .visao-servico {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 0.5rem;
}

.documentByLine {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 12px;
    color: #6e6e6e;
}

h3:has(.listaquiz) {
    position: relative;
    padding-left: 1.8rem;
}

.listaquiz {
    position: absolute;
    top: 2px;
    left: 0;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

@media only screen and (max-width: 575px) {
    #content .visao-servico .btn-solicitar.mobile {
        display: block;
    }
}

@media only screen and (max-width: 575px) {
    #content .visao-servico .btn-solicitar {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #content .visao-servico .btn-solicitar {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 575px) {
    #content .visao-servico .btn-solicitar {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #content .visao-servico .btn-solicitar {
        margin-top: 20px;
    }
    .documentByLine {
        text-align: center;
    }
}

@media only screen and (max-width: 575px) {
    #content .visao-servico .btn-solicitar.mobile {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .visao-servico .header .titulo {
        text-align: center;
        font-size: 28px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 767px) {
    .visao-servico .header {
        margin: 24px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 0;
        padding-top: 0rem;
    }
}

p {
    font-size: 0.98rem;
    color: #6e6e6e;
}

h3 {
    font-size: 1.5rem
}

.multioption-cnh {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-bottom: 2rem;
}

.multioption-cnh .option img {
    width: 42px;
    height: 42px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(0) saturate(100%) invert(69%) sepia(13%) saturate(14%) hue-rotate(314deg) brightness(99%) contrast(92%);
}

.multioption-cnh .option {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.12);
}

.multioption-cnh .option:last-child {
    grid-column: span 2;
}

.multioption-cnh .option:last-child img {
    width: 84px;
}

.multioption-cnh .option label {
    color: #AFAFAF;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.multioption-cnh .option.selected {
    border: 2px solid #176FC1;
    background-image: url("/assets/img/checked-cnh.webp");
    background-size: 50px;
    background-repeat: no-repeat;
}

.multioption-cnh .option.selected label {
    color: #176FC1 !important;
}

.multioption-cnh .option.selected img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(77%) saturate(1951%) hue-rotate(194deg) brightness(96%) contrast(82%);
}

.multioption-cnh .option input {
    opacity: 0;
    position: absolute;
}

.visao-servico {
    overflow: hidden;
}

.visao-servico .content {
    display: flex;
    gap: 20px;
    transition: transform 0.4s;
}

.visao-servico .content .page {
    width: 100%;
    min-width: 100%;
}

.input-group {
    display: grid;
    gap: 6px;
    margin-top: 2rem;
}

select,
input[type="text"] {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #D6D6D6;
    color: #525252;
    text-decoration: none;
}

.sf-select {
    appearance: none;
    /* Disable the default arrow */
    -webkit-appearance: none;
    /* For WebKit-based browsers */
    -moz-appearance: none;
    /* For Firefox */
    width: 100%;
    padding: 14px 35px 14px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
}

.loader {
    width: 56px;
    padding: 6px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #04537C;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 0.8s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

.loader-text {
    color: #04537C;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.center {
    justify-content: center;
    align-items: center;
    place-items: center;
    place-content: center;
}

.grid {
    display: grid;
}